/* Stil za tabele */
table {
	border-collapse: collapse;
	width: 100%;
}

/* Stil za naslov tabele */
caption {
	font-size: 16pt;
	text-align: center;
	background-color: DodgerBlue;
	color: white;
	padding: 10px;
}

/* Stil za zaglavlje tabele */
th {
	background-color: DodgerBlue;
	color: white;
	padding: 10px;
	text-align: center;
}

/* Stil za ćelije tabele */
td {
	padding: 5px;
	text-align: center;
}

/* Stil za input polja, tekstualna polja i select */
input[type="text"], textarea, select {
	width: 100%;
	padding: 5px;
	margin: 5px 0;
	border: 1px solid #ccc;
	border-radius: 4px;
	box-sizing: border-box;
}

/* Stil za checkbox i radio dugmad */
input[type="checkbox"], input[type="radio"] {
	width: auto;
}