/* Stil za tabelu */
table {
	border-collapse: collapse;
	width: 100%;
}

/* Stil za zaglavlja */
th {
	background-color: DodgerBlue;
	color: white;
	padding: 10px;
	text-align: left;
}

/* Stil za redove tabele */
tr:nth-child(odd) {
	background-color: LightGray;
}

/* Stil za ćelije u tabeli */
td {
	border: 1px solid Gray;
	padding: 10px;
}

/* Stil za numeričke ćelije */
td.broj {
	text-align: right;
}

/* Stil za pretragu */
input[type="search"] {
	width: 100%;
	padding: 5px;
	box-sizing: border-box;
	background-position: 95% center;
	background-repeat: no-repeat;
	border: 1px solid DodgerBlue;
	border-radius: 5px;
	margin-bottom: 10px;
}

/* Promenite kursor na pokazivač prilikom prelaska preko polja za pretragu */
input[type="search"]:hover {
	cursor: pointer;
}